.main-container {
    margin: 5%;
    display: flex;
    flex-direction: column;
}


.landingPageButton {
    color: white;
    background: green;
    border-radius: 10px;
    width: 327px;
    height: 80px;
    border: none;
    margin: 2%;
    font-size: 20px;
}

.InspireOthersImg{
    width: 558px;
        height: 558px;
        left: 730px;
        top: 202px;
}
.container-one{
    display: flex;
    justify-content: space-evenly;

   
}
.explanation {
    margin-left: 10%;
}

.header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bubble{
        width: 216px;
        height: 48px;
        left: 615px;
        top: 926px;
        color: #027800;
        background: #FFFFFF;
        border: 3px solid #027800;
        border-radius: 50px;
        text-align: center; 
        margin-right: 2%;
}

.cardsContainer{
    display: flex;
    justify-content: space-between;

}


.pictureAndBubblesDiv1, .pictureAndBubblesDiv2{
    display: flex;
    flex-direction: row;
    margin-left: 8%;
  
    
}


.writingImg{
width: 324px;
    height: 324px;
    left: 269px;
    top: 982px;
}
.workHomeImg{
    width: 324px;
        height: 324px;
        left: 849px;
        top: 1160px;
}

.firstRow{
    display: flex;
    margin: 2%;
    /* justify-content: space-evenly; */
   
    
}
.secondRow {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
   margin-bottom: 2%;
    justify-content: space-evenly;
}
.bubblesDiv {
    display: flex;
    flex-direction: column;
}

.thirdRow{
    display: flex;
}

.container {
    margin-bottom: 4%;
}