.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-login {
 background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #aaa;
  position: relative;
  display: flex;
  flex-direction: column; 
}

.form-group-login {
  margin-bottom: 20px;
}

.form-group-login label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group-login input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

.form-group-login input:focus {
  outline: none;
  border-color: red;
}

.title-login h1 {
  font-size: 24px;
  margin-top: 0;
}

.title-login p {
  margin-bottom: 10px;
  font-size: 16px;
}

.login-button {
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.reminder-error {
  background-color: red;
  opacity: .9;
}

.login-account p {
  margin-right: 10px;
}

.register-button {
  background-color: transparent;
  color: black;
  text-decoration: underline;
  border: none;
  padding: 1px;
  border-radius: 3px;
  font-weight: bold;
  cursor: pointer;
}