.card {
    width: 332px;
    height: 330px;
    border: 2px solid #027800;
    border-radius: 15px;
    margin: 1%;
    padding-bottom: 2%;
}
.pronouns{
    font-size: 14px;
    margin-bottom: 0%;
}
.bold-text {
    font-weight: bold;
}

.clickMe {
    color: white;
    background: green;
    border-radius: 10px;
    width: 189px;
    height: 44px;
    left: 1215px;
    top: 20px;
    border: none;
    margin: none;
    margin-left: 25%;
}
.suitcaseDiv{
    display: flex;
    align-items: center;
    margin-top: 0%;
}

.suitcase {
    height: 19px;
    width: 20px;
    margin-right: 1%;
}