/* @import './CSS/fonts.css'; */

.App {
    text-align: center;
    color: black;
  }

  /* .my-heading {
  font-family: 'SF Pro Display', sans-serif;
  font-weight: bold;
  font-size: 24px;
} */

.welcome-msg-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 29%;
}

.welcome-msg-div {
  border: 2px solid red;
}

/* 
.app-title {
    border: solid 2px palegreen
} */

.register {
  font-size: large;
  margin-top: -2%;
  /* border: solid 2px green; */
}
